#about_me {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: block;
  padding: 10px 15px 20px 20px;
  margin: 0 auto 15px auto;
  background-color: white;
  max-width: 800px;
}
#about_me p {
  margin: 10px 0 0 0;
}

#content_window {
  display: block;
  margin: 0 0 0 200px;
  padding: 30px 20px 30px 40px;
}
@media screen and (max-width: 700px) {
  #content_window {
    padding: 50px 0 30px 0;
    margin: 0;
  }
}
#content_window #header {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content_window #header h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  display: inline-block;
  line-height: 1;
  cursor: pointer;
}
#content_window #header h1:hover {
  text-decoration: underline;
}
#content_window #header #rss_button {
  background-color: transparent;
  outline: none;
  border: none;
  color: black;
  cursor: pointer;
  text-decoration: none;
  line-height: 0;
  padding: 10px;
  margin: 0;
}
#content_window post-snippet, #content_window post, #content_window disqus, #content_window about-me {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: block;
  padding: 10px 15px 20px 20px;
  margin: 0 auto 15px auto;
  background-color: white;
  max-width: 800px;
}
#content_window #recent_posts_header, #content_window #loading_header {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}
#content_window #recent_posts_header h2, #content_window #loading_header h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
}
#disqus {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: block;
  padding: 10px 15px 20px 20px;
  margin: 0 auto 15px auto;
  background-color: white;
  max-width: 800px;
}

#menu {
  position: fixed;
  width: 200px;
  background-color: #797979;
  height: 100%;
  margin: 0;
  padding: 0;
  word-break: break-word;
}
@media screen and (max-width: 700px) {
  #menu {
    left: -200px;
    -webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    transition: left 0.2s;
  }
  #menu.open {
    left: 0;
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
  }
}
#menu #menu_button {
  visibility: hidden;
  position: absolute;
  left: 200px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  padding: 8px;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  #menu #menu_button {
    visibility: visible;
  }
}
#menu ul {
  padding: 20px 0 0 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
#menu ul #home_button i {
  font-size: 14px;
  vertical-align: middle;
}
#menu ul li {
  list-style: none;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}
#menu ul li:hover {
  background-color: #b1b1b1;
}

#not_found {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: block;
  padding: 10px 15px 20px 20px;
  margin: 0 auto 15px auto;
  background-color: white;
  max-width: 800px;
}
#not_found h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  margin: 10px 0 0 0;
}
#not_found p {
  margin: 10px 0 0 0;
}

.post_snippet {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: block;
  padding: 10px 15px 20px 20px;
  margin: 0 auto 15px auto;
  background-color: white;
  max-width: 800px;
}
.post_snippet .new_tag {
  float: right;
  color: red;
}
.post_snippet h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  cursor: pointer;
  margin: 10px 0 0 0;
}
.post_snippet h2:hover {
  text-decoration: underline;
}
.post_snippet .date {
  margin: 0;
  font-size: 12px;
  color: #696969;
  font-family: "Roboto Condensed", sans-serif;
}
.post_snippet .snippet {
  margin: 10px 0 0 0;
}

#post {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: block;
  padding: 10px 15px 20px 20px;
  margin: 0 auto 15px auto;
  background-color: white;
  max-width: 800px;
}
#post #title {
  font-size: 54px;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif;
  margin: 30px 0 0 0;
}
#post .date {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #696969;
  font-family: "Roboto Condensed", sans-serif;
}
#post #body h1, #post #body h2, #post #body h3, #post #body h4, #post #body h5, #post #body h6 {
  font-family: "Roboto Condensed", sans-serif;
}
#post #body h1 {
  font-weight: 300;
}
#post #body p code {
  color: #c25;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
}
#post #body img {
  margin: 0 auto;
  display: block;
}
#post #body code {
  font-size: 0.85em;
  font-family: "Roboto Mono", consolas, monospace;
}
#post #body code * {
  font-family: "Roboto Mono", consolas, monospace;
}
#post #body iframe {
  display: block;
  margin: 10px auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #e0dfdf;
}