#about_me {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: block;
  padding: 10px 15px 20px 20px;
  margin: 0 auto 15px auto;
  background-color: white;
  max-width: 800px;
}
#about_me p {
  margin: 10px 0 0 0;
}