#menu {
  position: fixed;
  width: 200px;
  background-color: #797979;
  height: 100%;
  margin: 0;
  padding: 0;
  word-break: break-word;
}
@media screen and (max-width: 700px) {
  #menu {
    left: -200px;
    -webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    transition: left 0.2s;
  }
  #menu.open {
    left: 0;
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
  }
}
#menu #menu_button {
  visibility: hidden;
  position: absolute;
  left: 200px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  padding: 8px;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  #menu #menu_button {
    visibility: visible;
  }
}
#menu ul {
  padding: 20px 0 0 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
#menu ul #home_button i {
  font-size: 14px;
  vertical-align: middle;
}
#menu ul li {
  list-style: none;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}
#menu ul li:hover {
  background-color: #b1b1b1;
}