#post {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: block;
  padding: 10px 15px 20px 20px;
  margin: 0 auto 15px auto;
  background-color: white;
  max-width: 800px;
}
#post #title {
  font-size: 54px;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif;
  margin: 30px 0 0 0;
}
#post .date {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #696969;
  font-family: "Roboto Condensed", sans-serif;
}
#post #body h1, #post #body h2, #post #body h3, #post #body h4, #post #body h5, #post #body h6 {
  font-family: "Roboto Condensed", sans-serif;
}
#post #body h1 {
  font-weight: 300;
}
#post #body p code {
  color: #c25;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
}
#post #body img {
  margin: 0 auto;
  display: block;
}
#post #body code {
  font-size: 0.85em;
  font-family: "Roboto Mono", consolas, monospace;
}
#post #body code * {
  font-family: "Roboto Mono", consolas, monospace;
}
#post #body iframe {
  display: block;
  margin: 10px auto;
}